body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: 120px 3fr;
}

.topbar {
    background-color: whitesmoke;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.sidebar {
    background-color: rgb(0, 105, 197);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.content {
    background-color: lightgray;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}